* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}

.sidebar-left {
    background: #2c3e50;
    color: white;
    padding: 20px;
    width: 250px;
}

.main-content {
    flex: 1;
    padding: 30px;
    background: #f4f7f6;
}

.nav-button {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #3498db;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s;
}

.nav-button:hover {
    background: #2980b9;
    cursor: pointer;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #45a049;
}

.image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.centered-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}



@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    
    .sidebar-left {
        width: 100%;
        order: 2;
    }
    
    .main-content {
        order: 1;
    }
}